{%include 'header.html' %}
    
    <!--<section class="hero-wrap hero-wrap-2" style="background-image: url('images/phb.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blog Single</h1>
             <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section> -->
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Maulana Alamsyah Raih Juara 1 Lomba Cyber Security Kemendikbudristek</h2>
            <p>
              <img src="static/images/index2.jpg" alt="" class="img-fluid">
            </p>
            <p>Mahasiswa Program Studi Sarjana Terapan Teknik Informatika (TI) Politeknik Harapan Bersama (Poltek Harber) berhasil meraih Juara 1 di ajang Bug Bounty Kemendikbudristek 2022. Bug Bounty digelar oleh Pusdatin Kemendikbudristek melalui Tim Education Computer Security Incident Response Team (CSIRT) dengan tema Share & Protect.</p>
            <p>Kompetisi ini dilakukan secara online dengan total pendaftar 275 peserta. Peserta Bug Bounty Kemendikbudristek 2022 terbuka bagi insan pendidikan mulai dari siswa, mahasiswa, guru, dan dosen. </p>
            <p>Ketua Program Studi Sarjana Terapan Teknik Informatika, Slamet Wiyono, M.Eng. mengatakan Bug Bounty merupakan ajang yang bergengsi bagi insan pendidikan. “Saya sangat bangga karena yang mengalahkan ratusan peserta dari Sabang sampai Merauke tersebut adalah mahasiswa kami yang baru semester 4,” ujar Slamet.</p>
            <p>Kegiatan yang diikuti oleh insan pendidikan tersebut telah menghasilkan 5 orang pemenang. Pengumuman penghargaan pemenang diselenggarakan di Gadjah Mada University Club Hotel Sinduadi, Mlati. Kabupaten Sleman - DI Yogyakarta, Kamis, 25 Agustus 2022. Slamet menerangkan, acara Bug Bounty Kemendikbudristek memiliki tujuan tidak sekedar menemukan celah keamanan seperti yang diselenggarakan organisasi atau lembaga yang melibatkan bug hunter dari kalangan profesional. Namun, kegiatan ini juga diharapkan dapat mewadahi bug hunter dari kalangan insan pendidikan untuk berkontribusi dan melatih kemampuannya di bidang keamanan informasi.</p>
            <p>Sementara itu, Maulana mengatakan bahwa motivasi dirinya mengikuti ajang Bug Bounty yaitu untuk mengasah skill cybersecurity dan berkontribusi terhadap keamanan sistem aplikasi milik Kemendikbudristek. Dalam ajang tersebut peserta dituntut mencari celah keamanan yang ada pada beberapa sistem aplikasi yang telah disediakan oleh Kemdikbudristek sesuai dengan syarat dan ketentuan. Maulana kemudian berhasil menemukan beberapa celah keamanan di antaranya remote code execution, blind sql injection, path traversal, broken access control, sensitive data exposure, dan stored xss.</p>
            <p>“Maulana merupakan salah satu mahasiswa TI yang aktif di study club Hack Me yang berada di bawah naungan program studi TI. Hack Me merupakan perkumpulan mahasiswa Poltek Harber yang menyukai bidang cyber security,” kata Slamet. Juara pertama berhasil diraih oleh Maulana Alamsyah, mahasiswa Prodi TI  Poltek Harber, disusul oleh Abdi Prawira Negara dari Universitas Indraprasta. Kemudian, Mukhammad Khabiburrohman dari STMIK El-Rahma, Ahmad Ray Septa Firdaus dari Universitas Singaperbangsa Karawang, dan Paska Parahita dari Universitas Amikom Yogyakarta.</p>    
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Mahasiswa</a>
                <a href="#" class="tag-cloud-link">News</a>
                <a href="#" class="tag-cloud-link">Terbaru</a>
              </div>
            </div>
            
            <!--<div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="images/teacher-1.jpg" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3>George Washington</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
              </div>
            </div> -->


            <!--<div class="pt-5 mt-5">
              <h3 class="mb-5 h4 font-weight-bold">6 Comments</h3>
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/teacher-1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta mb-2">January 03, 2019 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/teacher-1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta mb-2">January 03, 2019 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                  <ul class="children">
                    <li class="comment">
                      <div class="vcard bio">
                        <img src="images/teacher-1.jpg" alt="Image placeholder">
                      </div>
                      <div class="comment-body">
                        <h3>John Doe</h3>
                        <div class="meta mb-2">January 03, 2019 at 2:21pm</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                        <p><a href="#" class="reply">Reply</a></p>
                      </div>


                      <ul class="children">
                        <li class="comment">
                          <div class="vcard bio">
                            <img src="images/teacher-1.jpg" alt="Image placeholder">
                          </div>
                          <div class="comment-body">
                            <h3>John Doe</h3>
                            <div class="meta mb-2">January 03, 2019 at 2:21pm</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                            <p><a href="#" class="reply">Reply</a></p>
                          </div>

                            <ul class="children">
                              <li class="comment">
                                <div class="vcard bio">
                                  <img src="images/teacher-1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                  <h3>John Doe</h3>
                                  <div class="meta mb-2">January 03, 2019 at 2:21pm</div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                  <p><a href="#" class="reply">Reply</a></p>
                                </div>
                              </li>
                            </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/teacher-1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta mb-2">January 03, 2019 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
              </ul>
               END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5 h4 font-weight-bold">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div> 
          </div> <!-- .col-md-8 -->

           <!--<div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <h3>Popular Articles</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Jan. 27, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Jan. 27, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Jan. 27, 2019</a></div>
                    <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <ul class="tagcloud m-0 p-0">
                <a href="#" class="tag-cloud-link">School</a>
                <a href="#" class="tag-cloud-link">Kids</a>
                <a href="#" class="tag-cloud-link">Nursery</a>
                <a href="#" class="tag-cloud-link">Daycare</a>
                <a href="#" class="tag-cloud-link">Care</a>
                <a href="#" class="tag-cloud-link">Kindergarten</a>
                <a href="#" class="tag-cloud-link">Teacher</a>
              </ul>
            </div>
          </div>-->
		</section>
{%include 'footer.html' %}