{%include 'header.html' %}   
    <div class="container table-responsive">
		<table id="example" class="table table-striped" style="width:100%">
			<thead>
				<tr>
					<th>No</th>
					<th>Foto</th>
					<th>Nama User</th>
					<th>Hasil</th>
				</tr>
			</thead>
			<tbody>
                {% for results in result %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>
                            <img src="/static/upload/clasification/{{ results[1] }}" class="img-fluid" height="150" width="150" alt="" srcset="">
                        </td>
						<td>
                            {{ results[2] }}
                        </td>
						<td>{{ results[3] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


        
    
</body>
</html>
{%include 'footer.html' %}