<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-30">
          <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                  <ul>
                      <li><a href="#"><span class="icon icon-map-marker"></span><span class="text">Jl. Mataram No. 9 Kota Tegal - Indonesia</span></a></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">0283 - 352000</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">informatika@poltek.ac.id</span></a></li>
                    </ul>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-30">
          <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
          <li class="ftco-animate"><a href="https://www.youtube.com/channel/UCN4KtV9Zh42TkEEiNxA6X4w"><span class="icon-youtube"></span></a></li>
          <li class="ftco-animate"><a href="https://www.facebook.com/TeknikInformatikaPHB"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="https://www.instagram.com/informatika.harber/"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
    </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> Kelompok 3</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
  </footer>
  
  <!--chatbotnya-->
  <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Kanca Bot TI</h4>
                    <p class="chatbox__description--header">Hallo. Nama Saya Kanca Bot TI. Ada yang bisa dibantu?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">kirim</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.png') }}" /></button>
        </div>
    </div>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.animateNumber.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scrollax.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/google-map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>



</body>
</html>