{%include 'header.html' %}
<section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(static/images/index1.jpeg);">
            <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 text-center ftco-animate">
              <h1 class="mb-4">Raih Juara I<span>Ajang Krenova 2022</span></h1>
            </div>
          </div>
          </div>
        </div>
        <div class="slider-item" style="background-image:url(static/images/index2.jpg);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 text-center ftco-animate">
            <h1 class="mb-4">Raih Juara I<span>Lomba Cyber Security Kemendikbudristek</span></h1>
          </div>
        </div>
        </div>
      </div>
        <div class="slider-item" style="background-image:url(static/images/index3.jpg);">
            <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 text-center ftco-animate">
              <h1 class="mb-4">Kunjungan Industri<span> Ke Huawei</span></h1>
            </div>
          </div>
          </div>
        </div>
      </section>
  
      <section class="ftco-section ftco-no-pt ftc-no-pb">
              <div class="container">
                  <div class="row">
                      <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                          <div class="text px-4 ftco-animate">	
                              <p>
                                  <img src="static/images/ti.jpg" />
                              </p>			
                            </div>			
                      </div>
                      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                          <h2 class="mb-4">Tentang Sarjana Terapan Teknik Informatika</h2>
                              <p>Sarjana Terapan Teknik Informatika merupakan program studi pada Politeknik Harapan Bersama yang mendapatkan SK Pendirian pada tanggal 13 Desember 2012 dengan Nomor SK Pendirian 420/E/0/2012. Diharapkan lulusan Program Studi D4 Teknik Informatika mampu memanfaatkan perangkat lunak dan perangkat keras di berbagai bidang kehidupan serta mampu melaksanakan pekerjaan yang kompleks berdasarkan kemampuan profesional di bidang informatika.</p>
                          </div>	         				
                      </div> 
                  </div>
              </div>
          </section>
          
          <section class="ftco-section bg-light">
              <div class="container">
                  <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
              <h2 class="mb-4"><span>Berita</span> Terkini</h2>
              <p>Berita Seputar Prodi SARJANA TERAPAN TEKNIK INFORMATIKA</p>
            </div>
          </div>
                  <div class="row">
            <div class="col-md-6 col-lg-4 ftco-animate">
              <div class="blog-entry">
                <a href="blog1" class="block-20 d-flex align-items-end" style="background-image: url('static/images/blog1.jpg');">
                                  <div class="meta-date text-center p-2">
                    <span class="day">16</span>
                    <span class="mos">September</span>
                    <span class="yr">2022</span>
                  </div>
                </a>
                <div class="text bg-white p-4">
                  <h3 class="heading"><a href="blog1">Prodi Teknik Informatika Bimbing Mahasiswa Hasilkan 53 Hak Ciptas dan 2 Jurnal Nasional Terakreditasi</a></h3>
                  <p>Hak Kekayaan Intelektual (HKI) didefinisikan sebagai hak untuk memperoleh perlindungan secara hukum...</p>
                  <div class="d-flex align-items-center mt-4">
                      <p class="mb-0"><a href="blog1" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                      <p class="ml-auto mb-0">
                          <a href="blog1" class="mr-2">Admin</a>
                          <a href="blog1" class="meta-chat"><span class="icon-chat"></span> 3</a>
                      </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
              <div class="blog-entry">
                <a href="blog2" class="block-20 d-flex align-items-end" style="background-image: url('static/images/index2.jpg');">
                                  <div class="meta-date text-center p-2">
                    <span class="day">15</span>
                    <span class="mos">September</span>
                    <span class="yr">2022</span>
                  </div>
                </a>
                <div class="text bg-white p-4">
                  <h3 class="heading"><a href="blog2">Maulana Alamsyah Raih Juara 1 Lomba</a></h3>
                  <p>Mahasiswa Program Studi Sarjana Terapan Teknik Informatika (TI) Politeknik Harapan Bersama (Poltek...</p>
                  <div class="d-flex align-items-center mt-4">
                      <p class="mb-0"><a href="blog2" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                      <p class="ml-auto mb-0">
                          <a href="blog2" class="mr-2">Admin</a>
                          <a href="blog2" class="meta-chat"><span class="icon-chat"></span> 3</a>
                      </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
              <div class="blog-entry">
                <a href="blog3" class="block-20 d-flex align-items-end" style="background-image: url('static/images/index3.jpg');">
                                  <div class="meta-date text-center p-2">
                    <span class="day">4</span>
                    <span class="mos">Juli</span>
                    <span class="yr">2022</span>
                  </div>
                </a>
                <div class="text bg-white p-4">
                  <h3 class="heading"><a href="blog3">Kunjungan Industri Prodi Teknik Informatika</a></h3>
                  <p>Kurikulum program studi Teknik Informatika Politeknik Harapan Bersama didesain dengan pendekatan...</p>
                  <div class="d-flex align-items-center mt-4">
                      <p class="mb-0"><a href="blog3" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                      <p class="ml-auto mb-0">
                          <a href="blog3" class="mr-2">Admin</a>
                          <a href="blog3" class="meta-chat"><span class="icon-chat"></span> 3</a>
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
              </div>
          </section>

{%include 'footer.html' %}