{%include 'header.html' %}    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/phb.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Web Links</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Web Links <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">E-Library</h3>
	            <p><a href="https://perpustakaan.poltektegal.ac.id/">https://perpustakaan.<br/>poltektegal.ac.id/</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">E-Journal</h3>
	            <p><a href="https://ejournal.poltektegal.ac.id/index.php/informatika">https://ejournal.poltektegal.<br/>ac.id/index.php/informatika</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">E-Kuliah</h3>
	            <p><a href="https://syncnau.poltektegal.ac.id/">https://syncnau.<br/>poltektegal.ac.id/</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">OASE</h3>
	            <p><a href="https://oase.poltektegal.ac.id/">https://oase.<br/>poltektegal.ac.id/</a></p>
	          </div>
          </div>
          
        </div>
      </div>
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-3 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <h3 class="mb-4">Tracer Study</h3>
              <p><a href="https://alumniphb.net/">https://alumniphb.net/</a></p>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <h3 class="mb-4">Infotek-HB</h3>
              <p><a href="https://bisnis.informatika.poltektegal.org/">https://bisnis.informatika.<br/>poltektegal.org//</a></p>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <h3 class="mb-4">PHB The True Vocational Campus</h3>
              <p><a href="https://poltektegal.ac.id/">https://poltektegal.ac.id//</a></p>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <h3 class="mb-4">Penerimaan Mahasiswa Baru</h3>
              <p><a href="https://syncdaftar.poltektegal.ac.id/">https://syncdaftar.<br/>poltektegal.ac.id/</a></p>
            </div>
          </div>
    </section>
		
{%include 'footer.html' %}