{%include 'header.html' %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/phb.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Profil</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Profil <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
        <h2 class="dosen">Sejarah</h2>
				<div class="row">
			  <p>Perkembangan perekonomian global secara positif telah menjadi tantangan dan peluang bagi semua negara termasuk Indonesia. Selaras dengan perkembangan industri khususnya dibidang Teknologi Informasi dan Komunikasi, serta kebijakan otonomi daerah di Indonesia, setiap institusi dituntut untuk mampu memanfaatkan teknologi dan kebijakan ini secara optimal. Oleh karena itu setiap institusi secara maksimal perlu mempersiapkan sumber daya manusianya sehingga memadai, baik dari segi kuantitas maupun kualitasnya.</p>
			  <p>Institusi pendidikan tinggi merupakan lembaga utama dalam menciptakan para calon praktisi didalam industri, dan salah satu program pendidikan yang yang turut berperan serta adalah pendidikan jalur vokasi. Pendidikan vokasi merupakan pendidikan tinggi yang diarahkan pada penguasaan keahlian terapan tertentu. Dan Politeknik Harapan Bersama merupakan salah satu lembaga pendidikan jalur vokasi yang menyediakan Sumber Daya Manusia (SDM) untuk menjadi para praktisi di dalam industri atau perusahaan.</p>
			  <P>Politeknik Harapan Bersama merupakan salah satu perguruan tinggi yang terletak di kota Tegal. Dengan maksud menyediakan Sumber Daya Manusia (SDM) yang memiliki kompetensi di bidang Teknologi Informasi dan Komunikasi terutama pada kota yang dikenal dengan Jepangnya Indonesia ini serta sesuai dengan KEPMEN 232/U/2000, maka Politeknik Harapan Bersama membuka Program Studi D4 Teknik Informatika.</P>
			  <P>D4 Teknik Informatika merupakan program studi pada Politeknik Harapan Bersama yang mendapatkan SK Pendirian pada tanggal 13 Desember 2012 dengan Nomor SK Pendirian 420/E/0/2012. Diharapkan lulusan Program Studi Sarjana Terapan Teknik Informatika mampu memanfaatkan perangkat lunak dan perangkat keras di berbagai bidang kehidupan serta mampu melaksanakan pekerjaan yang kompleks berdasarkan kemampuan profesional di bidang informatika.</P>
				</div>
			</div>
		</section>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<h2 class="subheading"><span>Visi</span></h2>
            <p>Menjadi program studi unggul dalam bidang teknik informatika yang mampu beradaptasi terhadap perkembangan teknologi informasi, berjiwa kewirausahaan, berbasis kearifan lokal dan berdaya saing global pada tahun 2035</p>
          </div>
            <div class="col-md-8 text-center heading-section ftco-animate">
              <h2 class="subheading"><span>Misi</span></h2>
              <li>Meningkatkan mutu Program Studi melalui peningkatan nilai akreditasi</li>
              <li>Mengembangkan kurikulum berbasis vokasional dalam bidang perangkat lunak yang sesuai dengan perkembangan teknologi informasi</li>
              <li>Meningkatkan kerjasama dengan institusi, industri, dan komunitas masyarakat dalam bidang perangkat lunak di dalam maupun di luar negeri</li>
              <li>Meningkatkan daya saing dosen dan mahasiswa dalam bidang perangkat lunak</li>
              <p></p>
            </div>
            <div class="col-md-8 text-center heading-section ftco-animate">
              <h2 class="subheading"><span>Tujuan</span></h2>
              <li>Meningkatnya mutu Program Studi melalui peningkatan nilai akreditasi.</li>
              <li>Menyelenggarakan pendidikan guna menghasilkan lulusan yang cakap dan berintegritas, inovatif, dan berjiwa kewirausahaan.</li>
              <li>Meningkatnya kerjasama dengan institusi, industri, dan komunitas masyarakat di bidang teknik informatika baik di dalam maupun di luar negeri.</li>
              <li>Meningkatnya daya saing dosen dan mahasiswa dalam bidang teknik informatika.</li>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftc-no-pb">
      <div class="container">
				<div class="row justify-content-center mb-5 pb-2">
            <p>
              <img src="static/images/struktur.png" />
            </p>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-no-pb">
			<div class="container">
        <h2 class="dosen">Dosen Pengajar </h2>
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image:url(static/images/teacher-1.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>RATRI WIKANINGTYAS, M.Pd.</h3>
								<div class="faded">
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-2.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dr. Tuharso, S. Ag, M.PI</h3>
	              </div>
							</div>
						</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-3.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Rosid Mustofa, M.Kom</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-4.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dyah Apriliani, S.T., M.Kom.</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-5.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Muhammad Fikri Hidayattullah, S.T., M.Kom.</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-6.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Hendrawan Aprilia A, S.T.</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-7.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Priyanto Tamami, S.Kom.</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-8.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>M. Nishom, M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-9.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dwi Intan Af'idah, M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-10.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Mirza Alim Mutasodirin, M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-11.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Ardi Susanto, S.Kom., M.Cs.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-12.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Ardi Susanto, S.Kom., M.Cs.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-13.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Ary Herijanto, S.Kom, MMSi</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-14.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Romi Muharyono, S.Ag.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-15.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Hepatika Zidny Ilmadina, S.Pd., M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-16.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Sharfina Febbi Handayani, M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-17.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Ginanjar Wiro Sasmito, M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-18.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Taufiq Abidin, M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-19.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dega Surono Wibowo, S.T., M.Kom.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-20.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dairoh, M.Sc.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-21.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Slamet Wiyono, S.Pd., M.Eng</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-22.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>MUCHAMMAD SOFYAN FIRMANSYAH, S.S, M.A.</h3>
							</div>
						</div>
					</div>
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(static/images/teacher-23.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Iin indrayanti, M.Pd</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!--<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="images/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(static/images/course-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(static/images/image_2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(static/images/image_3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(static/images/image_4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section> -->
{%include 'footer.html' %}